<!--投稿編集ページ-->
<div class="container">
  <div class="row">
    <div class="col mt-3">
      <h2>編集ページ</h2>
    </div>
  </div>
    <!--編集フォーム-->
    <%= form_with model: @trip, url: trip_path(@trip.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-sm-7 mt-2 mb-3 px-0">
      <%= image_tag @trip.image, size: "630x350" %>
    </div>
  </div>
    <div class="row">
      <div class="col mt-3">
        <h5>タイトル</h5>
          <%= f.text_field :title, size: 40 %>
      </div>
    </div>
    <!--星評価表示-->
    <div class="row my-4">
      おすすめ度：<div id="star<%= @trip.id%>"></div>
    </div>
    <div class="row my-4">
      綺麗さ：<div id="star2<%= @trip.id%>"></div>
    </div>
    <div class="row my-4">
      行きやすさ：<div id="star3<%= @trip.id%>"></div>
    </div>
      <div class="row">
        <div class="col my-4">
          <h5>本文</h5>
            <%= f.text_area :body, size: "62x5" %>
            <%= f.submit '保存', class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
    document.getElementById('star<%= @trip.id%>').innerHTML="";
      raty(document.getElementById('star<%= @trip.id %>'), {
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        score: <%= @trip.star %>,
        scoreName: 'trip[star]',
      });

    document.getElementById('star2<%= @trip.id%>').innerHTML="";
       raty(document.getElementById('star2<%= @trip.id %>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      scoreName: 'trip[star2]',
      score: <%= @trip.star2 %>,
    });

  document.getElementById('star3<%= @trip.id%>').innerHTML="";
    raty(document.getElementById('star3<%= @trip.id %>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      scoreName: 'trip[star3]',
      score: <%= @trip.star3 %>,
    });
    </script>


