<!--ユーザー側投稿一覧-->
<div class="container">
  <h2 class="mb-4"><strong>投稿一覧</strong></h2>

  <!--タグ検索-->
  <div class="row">
    <div class="col-sm-2 mb-3">
    <%= form_tag trips_path, method: :get, class: 'boards_searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    </div>

    <!--検索フォーム-->
  <div class="col-sm-3 mb-2">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
   </div>
  </div>
  <div class="row">
    <div class="col-sm">
    <%= link_to '新しい順', trips_path(latest: "true") %>
    |<%= link_to '古い順', trips_path(old: "true") %>
    |<%= link_to '評価の高い順', trips_path(star_count: "true") %>
    </div>
  </div>


  <!--投稿繰り返し処理-->
  <div class="row">
    <% @trips.each do |trip| %>
  <div class="col-sm-6 pl-0 mt-4">
    <div class="row">
      <div class="col mb-3">
        <%= image_tag trip.user.get_profile_image(50,50), class: "rounded-circle pl-0" %>
        <strong class="ml-3"><%= trip.user.name %></strong>
      </div>

    </div>
      <% star=[(trip.star.nil?) ? 0 : trip.star , (trip.star2.nil?) ? 0 : trip.star2 , (trip.star3.nil?) ? 0 : trip.star3] %>
        <%= link_to trip_path(trip.id) do %>
      <%= image_tag trip.image, size: "550x300" %>
    <% end %>
      <h4 class="mt-2"><%= trip.title %></h4>
      <!--<p><%#= trip.body %></p>-->
      <div class="row my-3">
        <div class="col-sm ml-0">
          <div id="star<%= trip.id%>" class="d-inline-block"></div>
          <%= trip.star_average %>
        </div>
      </div>

    <!--星平均-->
  <script>
  document.getElementById('star<%= trip.id%>').innerHTML="";
    raty(document.getElementById('star<%= trip.id%>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      score: '<%= star.sum.fdiv(star.length) %>',
      half: true,
      readOnly: true,
    });
  </script>


  <!--コメント-->
      <p>コメント数：<%= trip.trip_comments.count %></p>
      <div class="row ml-0">
        <%= trip.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>
    <% end %>
  </div>
</div>


