<!--投稿一覧-->
<div class="container">
  <h2 class="mt-3 mb-5">投稿一覧</h2>

  <div class="row">
    <% @trips.each do |trip| %>
  <div class="col-6">
    <%= link_to trip_path(trip.id) do %>
      <%= image_tag trip.image, size: "550x300" %>
    <% end %>
    　<p><%= trip.user.name %></p>
      <p><%= trip.title %></p>
      <p><%= trip.body %></p>
      </div>
    <% end %>
  </div>
</div>