<!--<%# if @trip.errors.any? %>-->
<!--  <%#= @trip.errors.count %>件のエラーが発生しました-->
<!--  <ul>-->
<!--    <%# @trip.errors.full_messages.each do |message| %>-->
<!--      <li><%#= message %></li>-->
<!--    <%# end %>-->
<!--  </ul>-->
<!--<%# end %>-->
<!--ユーザー側 新規投稿画面-->
<div class="container">
  <div class="row">
    <div class="col">
      <h2>投稿フォーム</h2>
    </div>
  </div>
  <%= form_with model: @trip do |f| %>
  <div class="row">
    <!--投稿フォーム-->
    <div class="col mt-4 mb-3">
      <h5 class="mb-3">画像</h5>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3">
      <h5 class="mb-3">題名</h5>
      <%= f.text_field :title, size: 40 %>
    </div>
  </div>

  <!-- 評価 -->
  <div class="form-group row mt-3">
    <%= f.label :star,'おすすめ度', class:'col-md-2 col-form-label' %>
    <%#= f.hidden_field :star, id: "review_star" %>
    <div id="star"></div>
  </div>
  <div class="form-group row">
    <%= f.label :star,'綺麗さ', class:'col-md-2 col-form-label' %>
    <div id="star2"></div>
  </div>
  <div class="form-group row">
    <%= f.label :star,'行きやすさ', class:'col-md-2 col-form-label' %>
    <div id="star3"></div>
  </div>


  <!--タグチェック-->
  <div class="row mb-3 mt-4">
    <div class="col-5"><span>タグ:</span>
      <!--<%# @tags.each do |tag| %>-->
      <!--  <input type="checkbox"><%#=tag.name %></input>-->
      <%# end %>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <h5 class="mb-3">本文</h5>
      <%= f.text_area :body, size: "62x5" %>
      <%= f.submit '投稿', class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <% end %>
</div>


<!-- 評価javascript -->
  <script>
    raty(document.getElementById('star'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'trip[star]',
      half: true
    });

    // $("#star").raty({
    //   size     : 36,
    //   starOff:  '<%#= asset_path('star-off.png') %>',
    //   starOn : '<%#= asset_path('star-on.png') %>',
    //   starHalf: '<%#= asset_path('star-half.png') %>',
    //   scoreName: 'trip[star]',
    //   half: true
    // });

    raty(document.getElementById('star2'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'trip[star2]',
      half: true
    });

    raty(document.getElementById('star3'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'trip[star3]',
      half: true
    });

  // raty(document.getElementById('star4'), {
  //     size     : 36,
  //     starOff:  '<%#= asset_path('star-off.png') %>',
  //     starOn : '<%#= asset_path('star-on.png') %>',
  //     starHalf: '<%#= asset_path('star-half.png') %>',
  //     scoreName: 'trip[star]',
  //     half: true
  //   });

  </script>