<!--管理者側レビュー一覧画面-->
<div class="container">
  <h2 class="mt-3 mb-4">投稿一覧</h2>

  <!--投稿繰り返し処理-->
  <div class="row">
    <% @trips.each do |trip| %>
    <div class="col-6">
      <% star=[(trip.star.nil?) ? 0 : trip.star , (trip.star2.nil?) ? 0 : trip.star2 , (trip.star3.nil?) ? 0 : trip.star3] %>
      <%= link_to admin_trip_path(trip.id) do %>
        <%= image_tag trip.image, size: "550x300" %>
      <% end %>
    　   <p><%= trip.user.name %></p>
        <p><%= trip.title %></p>
        <!--<p><%#= trip.body %></p>-->
        <div class="row my-4">
      <div class="col-sm ml-0">
        <div id="star<%= trip.id%>" class="d-inline-block"></div>
        (<%= star.sum.fdiv(star.length).floor(1) %>)
      </div>
    </div>
    <!--星平均-->
  <script>
  document.getElementById('star<%= trip.id%>').innerHTML="";
    raty(document.getElementById('star<%= trip.id%>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      score: '<%= star.sum.fdiv(star.length) %>',
      half: true,
      readOnly: true,
    });
  </script>
  <!--コメント-->
      <p>コメント数：<%= trip.trip_comments.count %></p>
    </div>
    <% end %>
  </div>
</div>