<!--管理者側 投稿詳細画面-->
<div class="container">
  <div class="row">
    <div class="col-sm-3 px-0">
      <%= image_tag @trip.user.get_profile_image(70,70), class: "rounded-circle pl-0" %>
      <strong class="ml-3"><%= @trip.user.name %></strong>
    </div>
  </div>
  <div class="row mt-4">
    <%= image_tag @trip.image, size: "630x350" %>
  </div>
    <div class="row mt-3">
      <h3><%= @trip.title %></h3>
    </div>
    <div class="row mt-3">
      <div class="col-10 ml-1">
        <h6><%= @trip.body %></h6>
      </div>
    </div>
    <!--星評価表示-->
    <div class="row my-4">
      おすすめ度：<div id="star<%= @trip.id%>"></div>
    </div>
    <div class="row my-4">
      綺麗さ：<div id="star2<%= @trip.id%>"></div>
    </div>
    <div class="row my-4">
      行きやすさ：<div id="star3<%= @trip.id%>"></div>
    </div>
    
    <div class="row  mt-2">
      <%= link_to "削除", admin_trip_path(@trip.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    </div>
</div>


<script>
      raty(document.getElementById('star<%= @trip.id %>'), {
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @trip.star %>,
      });

       raty(document.getElementById('star2<%= @trip.id %>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @trip.star2 %>,

    });

    raty(document.getElementById('star3<%= @trip.id %>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @trip.star3 %>,
    });
    </script>