<!--管理者側 投稿詳細画面-->
<div class="container">
  <div class="row ml-5 mt-4">
    <%= image_tag @trip.image, size: "630x350" %>
  </div>
    <div class="row ml-5 mt-3">
      <h3><%= @trip.title %></h3>
    </div>
    <div class="row ml-5 mt-3">
      <div class="col-10 ml-1">
        <h6><%= @trip.body %></h6>
      </div>
    </div>
    <!--星評価表示-->
    <div class="row my-4 ml-5">
      おすすめ度：<div id="star<%= @trip.id%>"></div>
    </div>
    <div class="row my-4 ml-5">
      綺麗さ：<div id="star2<%= @trip.id%>"></div>
    </div>
    <div class="row my-4 ml-5">
      行きやすさ：<div id="star3<%= @trip.id%>"></div>
    </div>
    
    <div class="row ml-5 mt-4">
      ユーザー: <%= @trip.user.name %>
    </div>
    <div class="row ml-5">
      <%= @trip.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="row ml-5 mt-2">
      <%= link_to "削除", admin_trip_path(@trip.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    </div>
</div>


<script>
      raty(document.getElementById('star<%= @trip.id %>'), {
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @trip.star %>,
      });

       raty(document.getElementById('star2<%= @trip.id %>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @trip.star2 %>,

    });

    raty(document.getElementById('star3<%= @trip.id %>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @trip.star3 %>,
    });
    </script>