<!--ユーザー詳細-->
<div class="container">
  <div class="row">
    <div class="col-sm mb-4 pl-0">
      <h3>マイページ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <h4><%= @user.name %></h4>
    </div>

    <div class="col-sm-2 mb-3">
      <% if @user == current_user && @user.email != "guest@example.com" %>
      <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-outline-secondary" %>
    </div>
    <div class="col-sm-2 mb-3">
      <%= link_to "退会する", unsubscribe_path, method: :get, class: "btn btn-outline-danger" %>
    </div>
    <% end %>
    </div>

  <!--ユーザーの投稿一覧-->
  <div class="row">
    <% @trip.each do |trip| %>
  <div class="col-sm-6 pl-0 mt-4">
    <%= link_to trip_path(trip.id) do %>
      <%= image_tag trip.image, size: "550x300" %>
    <% end %>
      <p><%= trip.title %></p>
      <p><%= trip.body %></p>
      </div>
    <% end %>
  </div>
</div>