<!--ユーザー詳細-->
<div class="container">
  <div class="row">
    <div class="col-sm mb-4 pl-0">
      <h3>マイページ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 px-0">
      <%= image_tag @user.get_profile_image(70,70), class: "rounded-circle pl-0" %>
      <strong class="ml-3"><%= @user.name %></strong>
    </div>

    <div class="col-sm-2 mt-3 px-0">
      <% if @user == current_user && @user.email != "guest@example.com" %>
      <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-outline-secondary" %>
    </div>
    <div class="col-sm-2 mt-3">
      <%= link_to "退会する", unsubscribe_path, method: :get, class: "btn btn-outline-danger" %>
    </div>
    <% end %>
    </div>

  <!--ユーザーの投稿一覧-->
  <div class="row">
    <% @trip.each do |trip| %>
  <div class="col-sm-6 pl-0 mt-4">
    <% star=[(trip.star.nil?) ? 0 : trip.star , (trip.star2.nil?) ? 0 : trip.star2 , (trip.star3.nil?) ? 0 : trip.star3] %>
    <%= link_to trip_path(trip.id) do %>
      <%= image_tag trip.image, size: "550x300" %>
    <% end %>
      <p><%= trip.title %></p>
      <!--<p><%#= trip.body %></p>-->
      <div class="row my-4">
      <div class="col-sm ml-0">
        <div id="star<%= trip.id%>" class="d-inline-block"></div>
        (<%= star.sum.fdiv(star.length).floor(1) %>)
      </div>
    </div>
    <!--星平均-->
  <script>
  document.getElementById('star<%= trip.id%>').innerHTML="";
    raty(document.getElementById('star<%= trip.id%>'), {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      score: '<%= star.sum.fdiv(star.length) %>',
      half: true,
      readOnly: true,
    });
  </script>
      </div>
    <% end %>
  </div>
</div>

